Source: axiometic
Section: science
Priority: extra
Maintainer: Michael Hall <hallm2533@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7)
Standards-Version: 3.9.3
Homepage: https://github.com/neufeld/

Package: axiometic
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-gi (>= 3.2.2), python-gtk2 (>= 2.24.0)
Replaces: axiomeatic
Description: User interface companion for AXIOME
 Axiometic is a user interface companion for the 
 AXIOME numerical microbial ecology analysis 
 pipeline. It generates a .ax file for use with AXIOME.
